.politics-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no hay suficiente espacio */
  }
  
  .section-container {
    flex: 1; /* Distribuye el espacio disponible de manera uniforme entre los elementos hijos */
    margin: 10px; /* Añade margen entre los contenedores hijos */
  }