
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EDEBEE;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  place-items: center;
  min-height: 100vh;
  background-color: #EDEBEE;
}

a{
  text-decoration: none;
}




